.film {
    margin: auto;
    width: 1400px;
    margin-top: 20px;

    .nav {
        margin-bottom: 20px;
    }

    .topInfo {
        display: flex;

        .topLeft {
            width: 33%;
            height: 100%;
            position: relative;

            img {
                width: 70%;
                height: 100%;
            }
        }

        .topRight {
            width: 67%;
            line-height: 35px;

            button {
                border: 1px solid salmon;
                padding: 15px;
                background-color: transparent;
                cursor: pointer;
                margin-right: 5px;

                &:hover {
                    background-color: salmon;
                    color: white;
                }
            }
        }
    }

    .botInfo {
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}

.trailerModal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    transition: opacity .15s linear;

    .middleBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate((-50%, -50%));
        display: inline-block;
        text-align: center;
        width: 1000px;
        transition: transform .3s ease-out;

        iframe {
            width: 1000px;
            height: 500px;
        }
    }
}

.scheduleTab {
    width: 1400px;
    margin: auto;

    .showtime {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        select {
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 70%;
        }

        .scheduleLabel {
            width: 33.33%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .detailBooking {
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.8);
        padding: 20px;
        border-top: 1px solid lightgray;

        .detailTab {
            .cinemaTitle {
                position: relative;
                height: 40px;
                width: 270px;
                padding: 7px 20px;
                background-color: orange;
                color: white;
            }

            .timeDetail {
                .showDate {
                    padding: 15px 0px;

                    h4 {
                        font-size: 20px;
                    }

                    .version {
                        .ticketVer {
                            h5 {
                                padding: 10px 0px;
                                font-weight: bolder;
                                font-size: 17px;
                            }

                            .showTime {
                                button {
                                    margin-right: 10px;
                                    background: transparent;
                                    border: 1px solid gray;
                                    padding: 5px;

                                    &:hover {
                                        cursor: pointer;
                                        border: 1px solid orange;
                                        color: orange;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}