.schedule {
    width: 1400px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    .nav-tabs {
        width: 100%;
        border-bottom: 1px solid #DDD;
        display: flex;

        li {
            font-size: 25px;
            display: block;
            margin-right: 30px;
            list-style-type: none;
            cursor: pointer;
            padding-bottom: 20px;
            opacity: 0.7;

            &:hover {
                border-bottom: 1px solid salmon;
                opacity: 1;
            }
        }
    }

    .tabContent {
        height: 120vh;

        .showTab {
            animation-name: fadeInUp;
            animation-duration: 1s;
            animation-fill-mode: both;
            margin-top: 40px;
            // background-color: gray;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 100%;
            // overflow-y: ;

            .byMovie {
                width: 30%;
                height: 30vh;
                // background-color: yellow;

                >div {
                    background-color: rgb(219, 55, 55);
                    padding: 10px;
                    text-align: center;
                    color: white;
                }

                .content {
                    border-bottom: 1px solid gray;
                    border-left: 1px solid gray;
                    border-right: 1px solid gray;
                    color: black;
                    background-color: transparent;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &.active {
                        color: magenta;
                        background-color: lightgray;
                    }

                    &:hover {
                        background-color: lightgray;
                        cursor: pointer;
                    }

                    img {
                        width: 60px;
                        margin-right: 10px;
                    }
                }
            }

            .byCinema {
                width: 30%;
                height: 30vh;
                // background-color: yellow;

                >div {
                    background-color: rgb(219, 55, 55);
                    padding: 10px;
                    text-align: center;
                    color: white;
                }

                .content {
                    border-bottom: 1px solid gray;
                    border-left: 1px solid gray;
                    border-right: 1px solid gray;
                    color: black;
                    background-color: transparent;
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &.active {
                        color: magenta;
                        background-color: lightgray;
                    }

                    &:hover {
                        background-color: lightgray;
                        cursor: pointer;
                    }

                    img {
                        width: 60px;
                        margin-right: 10px;
                    }
                }
            }

            .book {
                width: 30%;
                height: 30vh;
                // background-color: yellow;

                .plan {
                    background-color: rgb(219, 55, 55);
                    padding: 10px 0px;
                    text-align: center;
                    color: white;
                }

                .content {
                    border-bottom: 1px solid gray;
                    border-left: 1px solid gray;
                    border-right: 1px solid gray;
                    color: black;
                    background-color: transparent;
                    display: block;
                    // align-items: center;
                    // justify-content: space-between;

                    .date {
                        width: 100%;

                        p {
                            display: inline-block;
                        }
                    }

                    .detail {
                        width: 100%;
                        border-bottom: 1px solid lightgray;
                        padding: 20px;

                        p {
                            display: inline-block;
                            margin-right: 10px;
                        }

                        .ticketVer {
                            margin-top: 10px;
                            display: flex;

                            h5 {
                                margin-right: 20px;
                            }

                            .showTime {
                                width: 80%;

                                button {
                                    margin-right: 10px;
                                    background: transparent;
                                    border: 1px solid gray;
                                    padding: 5px;
                                    margin-bottom: 15px;

                                    &:hover {
                                        cursor: pointer;
                                        border: 1px solid orange;
                                        color: orange;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}