.profile {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profileTitle {
        background: url(../../img/Register/bg.jpg);
        background-size: cover;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .profileNavlink a,
        p {
            color: #e50914;
            font-size: 16px;
            font-weight: bold;
        }
    }

    .profileContent {
        background: #141414;
        height: 600px;
        width: 100%;
        padding: 30px;

        .userCard {
            background: #191919;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }

            p {
                color: #e50914;
                font-size: 16px;
                padding: 20px 0;
            }

            h4 {
                font-size: 28px;
                font-weight: bold;
                color: white;
            }
        }
    }

    .userContent {
        padding-left: 30px;
        h3 {
            margin-top: 10px;
            color: #fff;
        }


        .profileTab {
            color: white;
            background: none;
            border: none;
            cursor: pointer;
            &:hover {
                color: #e50914;
            }

            border-top:transparent 3px solid;
            margin-right: 32px;
            padding: 12px 24px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: .5px;
            transition: all .5s ease-in-out;
        }

        .active {
            color: #e50914;
            border-top: #e50914 3px solid;
            margin-right: 32px;
            padding: 12px 24px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: .5px;
            background: linear-gradient(0deg, rgba(11, 1, 2, 0) 0, rgba(255, 55, 65, .3) 85%);
        }

        .upgradeContent{
           background: #080808;
            padding: 30px;
        }

        .registerPlanItem {
            padding: 15px 0;
            display: flex;
            align-items: center;
            cursor: pointer;
            label{
                color: #fff;
            }
            input {
                margin-right: 15px;
            }

            .discountInput {
                display: inline-block;
                background: #111;
                height: 40px;
                width: 250px;
                border: 1px solid #111;
                font-size: 14px;
                color: #6c757d;
                outline: none;
                padding: 10px 15px;
            }

            .discountBtn {
                border: none;
                color: #fff;
                text-transform: uppercase;
                padding: 12px 24px;
                letter-spacing: 1.5px;
                overflow: hidden;
                background: #e50914;
                cursor: pointer;
            }
        }

        .registerBtn {
            width: 100%;
            border: none;
            color: #fff;
            text-transform: uppercase;
            padding: 12px 24px;
            letter-spacing: 1.5px;
            overflow: hidden;
            background: #e50914;
            background-image: linear-gradient(#bf000a, #bf000a);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            transition: background-size .3s ease, color .3s ease;
            cursor: pointer;

            &:hover {
                background-size: 100% 100%;
            }
        }
    }
}

.subscriptions {
    padding-top: 50px;

    table {
        border-collapse: collapse;
        border: 1px solid #d1d0cf;
        width: 100%;
    }

    td {
        color: white;
        border: 1px solid #d1d0cf;
        font-size: 16px;
        padding: 15px 18px;
    }

    .subscriptionBtn {
        color: #e50914;
        font-size: 16px;
        margin-right: 10px;
        cursor: pointer;
    }
}

.editProfile {
    padding: 30px;

    form {
        background: rgba(0, 0, 0, .6);
        backdrop-filter: blur(.625em);
        box-shadow: 0 0 1.875em 0 rgba(0, 0, 0, .2);
        padding: 30px;
    }

    .editItem {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;

        .editInput {
            width: 50%;
            .errorMsg{
                color: #bf000a;
                font-size: 16px;
                margin-top: 10px;
            }
        }

        p {
            margin-bottom: 10px;
            color: white;
        }

        input {
            display: inline-block;
            background: #111;
            height: 40px;
            width: 90%;
            border: 1px solid #111;
            font-size: 14px;
            color: #6c757d;
            outline: none;
            padding: 10px;

            &:focus {
                border-color: #bf000a;
            }

            transition: all .5s ease-in-out;
        }
    }

    .editBtn {
        width: 200px;
        border: none;
        color: #fff;
        text-transform: uppercase;
        padding: 12px 24px;
        letter-spacing: 1.5px;
        overflow: hidden;
        background: #e50914;
        background-image: linear-gradient(#bf000a, #bf000a);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size .3s ease, color .3s ease;
        cursor: pointer;

        &:hover {
            background-size: 100% 100%;
        }
    }
}

.payment {
    padding-top: 30px;
    .paymentInfo {
        padding: 10px 40px;
        background: #191919;
        p {
            color: white;
        }
    }
}

[type=checkbox] {
    width: 12px;
    height: 12px;
    color: dodgerblue;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
}

[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}

[type=checkbox]:checked {
    background-color: #2196F3;
}

[type=checkbox]:checked::before {
    box-shadow: none;
    background: white;
    transform: scale(.4);
}

[type=checkbox]:disabled {
    background-color: #CCD3D8;
    opacity: 0.84;
    cursor: not-allowed;
}