.ticket {
    width: 1400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px;
    display: flex;

    .leftTab {
        width: 70%;
        background-color: orange;
        margin-right: 25px;
        padding: 10px;
        line-height: 30px;

        .ticketBox {


            table,
            th,
            td {
                border-collapse: collapse;
            }

            tr {
                border-bottom: 1px solid lightgray;
            }

            table {
                margin-top: 25px;

                td {
                    padding: 5px;
                }

                thead {
                    background-color: rgb(90, 24, 24);
                    color: white;
                }

                tbody {
                    background-color: white;

                    .combo {
                        display: flex;

                        h3 {
                            width: 100%;
                            display: inline-block;

                            &:hover {
                                cursor: auto;
                            }
                        }

                        h4 {
                            width: 100%;
                            display: inline-block;
                            font-size: 12px;
                            opacity: 0.7;
                        }


                        img {
                            display: block;
                            width: 30%;
                            margin-right: 10px;
                        }
                    }

                    input {
                        padding: 8px;
                    }
                }
            }

            button {
                border: none;
                border-radius: 25px;
                color: white;
                background-color: gray;
                padding: 7px;
                margin: 0px 5px;
                font-size: 20px;

                &:hover {
                    background-color: black;
                    cursor: pointer;
                }
            }
        }

        .seatPlan {
            background-color: white;
            margin-top: 50px;
            padding: 20px;
            display: block;

            .seatTable {
                margin: auto;
                width: 700px;

                .ulParent {
                    display: block;
                    text-align: left;
                    position: relative;

                    li {
                        display: inline-block;
                        list-style-type: none;
                        margin-right: 3px;
                        border: 1px solid lightgray;
                        padding: 3px;
                        cursor: pointer;
                        background-color: lightgray;
                        width: 20px;
                        height: 30px;

                        &.active {
                            background-color: green;
                            color: white;
                        }
                    }

                    .pNameL {
                        position: absolute;
                        right: 0;
                    }

                    .pNameF {
                        margin-right: 50px;
                    }

                }
            }

            .screen {
                display: flex;
                margin: auto;
                justify-content: center;

                h3 {
                    margin-top: 30px;
                    border-bottom: 4px solid gray;
                    width: 50%;
                    text-align: center;
                    margin-bottom: 30px;
                }
            }

            .screenBot {
                width: 700px;
                display: flex;
                margin: auto;
                justify-content: space-between;

                span {
                    width: 15px;
                    height: 20px;
                    display: inline-block;

                    &.green {
                        background-color: green
                    }

                    &.red {
                        background-color: red
                    }

                    &.gray {
                        background-color: gray
                    }

                    &.cyan {
                        background-color: cyan
                    }
                }
            }

        }
    }

    .rightTab {
        width: 30%;
        background-color: rgb(245, 244, 244);
        height: 100%;

        .topRight {
            .sum {
                .vnd {
                    color: orangered;
                    background-color: transparent;
                }

                .total {
                    padding: 5px;
                    text-align: center;
                    border: none;
                    background-color: transparent;
                    font-weight: bold;
                    color: orangered;
                    font-size: 20px;
                    margin: auto;
                    width: 100px;
                }
            }

            padding: 20px;

            img {
                width: 100%;
            }

            .blur {
                opacity: 0.5;
                font-size: 20px;
            }

            span {
                padding: 3px;
                background-color: rgb(228, 126, 9);
                color: white;
                display: inline-block;
            }

            .warning {
                color: red;
                display: inline-block;
                margin-left: 10px;
            }

            h3 {
                border-bottom: 1px solid rgb(211, 202, 202);
                margin-bottom: 5px;
                padding-bottom: 5px;

                &:hover {
                    cursor: auto;
                }
            }

            ul {
                li {
                    list-style-type: none;
                    display: flex;

                    .continue {
                        margin: auto;
                        display: block;
                        margin-top: 10px;
                    }

                    button {
                        display: block;
                        width: 50%;
                        margin-right: 10px;
                        margin-top: 10px;
                        color: white;
                        font-size: 20px;
                        padding: 10px;
                        background-color: rgb(247, 136, 45);
                        border: none;

                        &:hover {
                            background-color: rgb(202, 61, 61);
                            cursor: pointer;
                        }
                    }
                }
            }

        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.middleUl {
    display: inline-block;
    text-align: center;
}