.creditCard {
    background: url(../../img/Register/bg.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    
    h3{
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
    }

    form {
        margin-top: 20px;
        overflow-y: none;
        background: rgba(0, 0, 0, .6);
        backdrop-filter: blur(.625em);
        box-shadow: 0 0 1.875em 0 rgba(0, 0, 0, .2);
        padding: 30px;

        .cardItem {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            input {
                display: inline-block;
                background: #111;
                height: 40px;
                width: 100%;
                border: 1px solid #111;
                font-size: 14px;
                color: #6c757d;
                outline: none;
                padding: 10px;
                margin-right: 10px;

                &:focus {
                    border-color: #bf000a;
                }

                transition: all .5s ease-in-out;
            }


        }

        .cardBtn {
            width: 100%;
            border: none;
            color: #fff;
            text-transform: uppercase;
            padding: 12px 24px;
            letter-spacing: 1.5px;
            overflow: hidden;
            background: #e50914;
            background-image: linear-gradient(#bf000a, #bf000a);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            transition: background-size .3s ease, color .3s ease;
            cursor: pointer;

            &:hover {
                background-size: 100% 100%;
            }
        }
    }

    .cardList {
        display: flex;

        .card1 {
            .rccs__issuer {
                background-image: url('https://cdn.haitrieu.com/wp-content/uploads/2022/02/Icon-TPBank.png');
            }
            cursor: pointer;
            margin-right: 20px;
        }

        .card2 {
            .rccs__issuer {
                background-image: url('https://seeklogo.com/images/A/agribank-2014-logo-D607F59D1E-seeklogo.com.png');
            }
            cursor: pointer;
            margin-right: 20px;
        }
    }


}