.movieShowing {
    width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin-top: 20px;

    .tag {
        display: flex;
        flex: 100%;
        padding-left: 20px;
        width: 50%;

        >h3 {
            margin-right: 20px;
        }

        .activePage {
            border-bottom: 1px solid salmon;
            padding-bottom: 5px;

            &:hover {
                border-bottom: 1px solid salmon;
            }
        }
    }

    .card {
        position: relative;
        width: 25%;
        padding: 20px;
        margin-top: 30px;
        animation-name: fadeInUp;
        animation-duration: 1s;
        animation-fill-mode: both;

        img {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
        }

        .image {
            width: 100%;
            height: 100%;
            display: block;
            opacity: 1;
            transition: all 300ms;
        }

        .middle {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            transition: all 300ms;

            .btn {
                text-transform: uppercase;
                display: inline-block;
                font-size: 14px;
                color: white;
                font-weight: 400;
                border: 1px solid white;
                padding: 15px 30px;
                text-decoration: none;
                line-height: 1;
            }
        }
    }
}

h3:hover {
    cursor: pointer
}

.hover:hover .image {
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 1);
}

.hover:hover .middle {
    opacity: 1;
}

.hover:hover {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.btn:hover {
    background-color: orange;
    cursor: pointer;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}