.movies {
    width: 1400px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    .nav-tabs {
        width: 50%;
        border-bottom: 1px solid #DDD;
        display: flex;

        li {
            font-size: 25px;
            display: block;
            margin-right: 30px;
            list-style-type: none;
            cursor: pointer;
            padding-bottom: 20px;
            opacity: 0.7;

            &:hover {
                border-bottom: 1px solid salmon;
                opacity: 1;
            }
        }
    }

    .more-btn {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 60px;

        button {
            padding: 20px;
            border: 1px solid salmon;
            color: salmon;
            background-color: white;

            &:hover {
                background-color: rgb(228, 166, 73);
                color: white;
                cursor: pointer;
            }
        }
    }

    .tab-content {
        .show-tab {
            animation-name: fadeInUp;
            animation-duration: 1s;
            animation-fill-mode: both;

            .card {
                position: relative;
                width: 33%;
                padding: 50px;
                margin-top: 30px;

                .hover {
                    &:hover {
                        background-color: rgba(0, 0, 0, 1);
                        cursor: pointer;

                        .middle {
                            opacity: 1;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        margin-bottom: 10px;
                    }

                    .image {
                        width: 100%;
                        height: 100%;
                        display: block;
                        transition: all 300ms;
                        opacity: 1;

                        &:hover {
                            opacity: 0.7;
                            background-color: rgba(0, 0, 0, 1);
                        }
                    }

                    .middle {
                        transition: all 300ms;
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        text-align: center;

                        &:hover {
                            opacity: 1;
                        }

                        .btn {
                            text-transform: uppercase;
                            display: inline-block;
                            font-size: 14px;
                            color: white;
                            font-weight: 400;
                            border: 1px solid white;
                            padding: 15px 30px;
                            text-decoration: none;
                            line-height: 1;

                            &:hover {
                                background-color: orange;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

// .hover:hover .image {
//     opacity: 0.7;
//     background-color: rgba(0, 0, 0, 1);
// }

// .hover:hover .middle {
//     opacity: 1;
// }

// .hover:hover {
//     background-color: rgba(0, 0, 0, 1);
//     cursor: pointer;
// }

// .btn:hover {
//     background-color: orange;
//     cursor: pointer;
// }