.head {
    background: transparent;
    color: white;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    flex: 100%;
    font-size: 25px;

    h1 {
        cursor: pointer;

        &:hover {
            color: orange;
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-right: 20px;

        .dropbtn {
            background: transparent;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 25px;
            margin-right: 10px;

            &:hover {
                color: orange;
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: transparent;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1000;

            li {
                color: white;
            }
        }
    }

    li:hover {
        cursor: pointer;
        color: orange;
    }
}

.dropdown-content li:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    // background-color: orange;
    // border: 1px solid white;
    color: orange;
}

.head.active {
    // background: linear-gradient(90deg, rgb(66, 2, 194) 0%, rgb(0, 78, 194) 100%)
    background-color: rgb(122, 11, 11);
}

.flex {
    list-style-type: none;
}

.link {
    color: white;
}