.sliderStyles {
    height: 100%;
    position: relative;

    .leftArrowStyles {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 32px;
        font-size: 45px;
        color: #fff;
        z-index: 1;
        cursor: pointer;
        transition: 0.6s ease;
    }

    .rightArrowStyles {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 32px;
        font-size: 45px;
        color: #fff;
        z-index: 1;
        cursor: pointer;
        transition: 0.6s ease;
    }

    .middle {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 50%;
        font-size: 45px;
        color: rgba(255, 255, 255, 0.6);
        z-index: 1;
        cursor: pointer;
        transition: 0.6s ease;
        opacity: 0;
        text-transform: uppercase;
        display: inline-block;
        font-size: 14px;
        color: white;
        font-weight: 400;
        border: 1px solid white;
        padding: 15px 30px;
        text-decoration: none;
        line-height: 1;

        &:hover {
            background-color: orange;
            cursor: pointer;
            opacity: 1;
        }
    }

    .bullets {
        position: absolute;
        display: flex;
        top: 95%;
        transform: translate(0, -50%);
        // right: 50%;
        font-size: 45px;
        color: #fff;
        z-index: 1;
        cursor: pointer;
        transition: 0.6s ease;
        margin: auto;
    }
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}