.register {
    background: url(../../img/Register/bg.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 30px 0;

    form {
        width: 50%;
        overflow-y: scroll;
        background: rgba(0, 0, 0, .6);
        backdrop-filter: blur(.625em);
        box-shadow: 0 0 1.875em 0 rgba(0, 0, 0, .2);
        padding: 30px;

        p {
            color: white;
        }

        label {
            color: white;
        }

        h3 {
            color: white;
        }

        .registerItem {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            p {
                margin-bottom: 10px;
            }

            input {
                display: inline-block;
                background: #111;
                height: 40px;
                max-width: 250px;
                border: 1px solid #111;
                font-size: 14px;
                color: #6c757d;
                outline: none;
                padding: 10px;

                &:focus {
                    border-color: #bf000a;
                }

                transition: all .5s ease-in-out;
            }

            .errorMsg{
                color: #bf000a;
                font-size: 16px;
                margin-top: 10px;
            }
        }

        .registerPlan {
            margin-bottom: 20px;

            h3 {
                margin-top: 10px;
            }

            .registerPlanItem {
                padding: 15px 0;
                display: flex;
                align-items: center;
                cursor: pointer;

                input {
                    margin-right: 15px;
                }

                .discountInput {
                    display: inline-block;
                    background: #111;
                    height: 40px;
                    width: 250px;
                    border: 1px solid #111;
                    font-size: 14px;
                    color: #6c757d;
                    outline: none;
                    padding: 10px 15px;
                }

                .discountBtn {
                    border: none;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 12px 24px;
                    letter-spacing: 1.5px;
                    overflow: hidden;
                    background: #e50914;
                    cursor: pointer;
                }
            }
        }

        .registerBtn {
            width: 100%;
            border: none;
            color: #fff;
            text-transform: uppercase;
            padding: 12px 24px;
            letter-spacing: 1.5px;
            overflow: hidden;
            background: #e50914;
            background-image: linear-gradient(#bf000a, #bf000a);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            transition: background-size .3s ease, color .3s ease;
            cursor: pointer;

            &:hover {
                background-size: 100% 100%;
            }
        }
    }

    [type=checkbox] {
        width: 12px;
        height: 12px;
        color: dodgerblue;
        vertical-align: middle;
        -webkit-appearance: none;
        background: none;
        border: 0;
        outline: 0;
        flex-grow: 0;
        border-radius: 50%;
        background-color: #FFFFFF;
        transition: background 300ms;
        cursor: pointer;
    }

    [type=checkbox]::before {
        content: "";
        color: transparent;
        display: block;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        border: 0;
        background-color: transparent;
        background-size: contain;
        box-shadow: inset 0 0 0 1px #CCD3D8;
    }

    [type=checkbox]:checked {
        background-color: #2196F3;
    }

    [type=checkbox]:checked::before {
        box-shadow: none;
        background: white;
        transform: scale(.4);
    }

    [type=checkbox]:disabled {
        background-color: #CCD3D8;
        opacity: 0.84;
        cursor: not-allowed;
    }

    /* scrollbar */

    /* width */

    ::-webkit-scrollbar {
        width: 0.25em;
    }

    ::-webkit-scrollbar:horizontal {
        height: 0.2em;
    }

    /* Track /
      ::-webkit-scrollbar-track {
      background: #f1f1f1; 
      }
      
      / Handle */

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    /* scrollbar end */
}