.foot {
    border-top: 5px solid rgb(235, 53, 129);
    line-height: 35px;

    .footBox {
        padding: 50px 0px;
        width: 1400px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .footCopyright {
        width: 1400px;
        margin: auto;
        border-top: 3px solid gray;
        display: flex;
        justify-content: space-between;
        padding: 50px 0px;

        div {
            display: flex;

            p {
                margin-right: 20px;
            }
        }
    }
}