.login {
    background: url(../../img/Register/bg.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 30px 0;

    form {
        width: 35%;
        height: 90%;
        overflow: hidden;
        background: rgba(0, 0, 0, .6);
        backdrop-filter: blur(.625em);
        box-shadow: 0 0 1.875em 0 rgba(0, 0, 0, .2);
        padding: 30px;

        p {
            color: white;
        }

        label {
            color: white;
        }

        h3 {
            color: white;
        }

        .loginItem {
            margin-bottom: 20px;

            p {
                margin-bottom: 20px;
            }

            input {
                display: inline-block;
                background: #111;
                height: 40px;
                width: 100%;
                border: 1px solid #111;
                font-size: 14px;
                color: #6c757d;
                outline: none;
                padding: 10px;

                &:focus {
                    border-color: #bf000a;
                }

                transition: all .5s ease-in-out;
            }
            .errorMsg{
                color: #bf000a;
                font-size: 16px;
                margin-top: 10px;
            }
        }

        .loginItemCheck {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            input {
                margin-right: 10px;
            }
        }

        .loginItemRegister {
            margin-top: 20px;

            .registerLink {
                color: #fff;
                font-weight: 500;
                letter-spacing: 1px;

                &:hover {
                    color: #e50914;
                }

                transition: color .5s ease-in-out;
            }

            .passwordLink {
                color: #e50914;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: .8px;
            }
        }

        .loginBtn {
            width: 100%;
            border: none;
            color: #fff;
            text-transform: uppercase;
            padding: 12px 24px;
            letter-spacing: 1.5px;
            overflow: hidden;
            background: #e50914;
            background-image: linear-gradient(#bf000a, #bf000a);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 0% 100%;
            transition: background-size .3s ease, color .3s ease;
            cursor: pointer;
            &:hover {
                background-size: 100% 100%;
            }
        }
    }

    [type=checkbox] {
        width: 12px;
        height: 12px;
        color: dodgerblue;
        vertical-align: middle;
        -webkit-appearance: none;
        background: none;
        border: 0;
        outline: 0;
        flex-grow: 0;
        border-radius: 50%;
        background-color: #FFFFFF;
        transition: background 300ms;
        cursor: pointer;
    }

    [type=checkbox]::before {
        content: "";
        color: transparent;
        display: block;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        border: 0;
        background-color: transparent;
        background-size: contain;
        box-shadow: inset 0 0 0 1px #CCD3D8;
    }

    [type=checkbox]:checked {
        background-color: #2196F3;
    }

    [type=checkbox]:checked::before {
        box-shadow: none;
        background: white;
        transform: scale(.4);
    }

    [type=checkbox]:disabled {
        background-color: #CCD3D8;
        opacity: 0.84;
        cursor: not-allowed;
    }


}