* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Courier New', Courier, monospace; */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.b-c {
    border-collapse: collapse;
}

.p-st {
    position: sticky;
    top: 0px;
}

.d-g8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.mainSizeTiki {
    width: 1270px;
}

.mainSize {
    width: 1600px;
}

.mainSizeS {
    width: 1400px;
}

.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

.bs-b {
    box-sizing: border-box;
}

.m-a {
    margin: auto;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-30 {
    margin-left: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mr-40 {
    margin-right: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml-40 {
    margin-left: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.mr-60 {
    margin-right: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.ml-60 {
    margin-left: 60px;
}

.mt-80 {
    margin-top: 80px;
}

.mr-80 {
    margin-right: 80px;
}

.mb-80 {
    margin-bottom: 80px;
}

.ml-80 {
    margin-left: 80px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-40 {
    padding: 40px;
}

.p-60 {
    padding: 60px;
}

.pt-10 {
    padding-top: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pr-40 {
    padding-right: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pl-40 {
    padding-left: 40px;
}

.pt-60 {
    padding-top: 60px;
}

.pr-60 {
    padding-right: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pl-60 {
    padding-left: 60px;
}

.pt-80 {
    padding-top: 80px;
}

.pr-80 {
    padding-right: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pl-80 {
    padding-left: 80px;
}

.pt-100 {
    padding-top: 100px;
}

.pr-100 {
    padding-right: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pl-100 {
    padding-left: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-100 {
    margin-left: 100px;
}

.mr-100 {
    margin-right: 100px;
}

.fs-20 {
    font-size: 20;
}

.fs-30 {
    font-size: 30;
}

.fs-40 {
    font-size: 40;
}

.fs-50 {
    font-size: 50;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.flex-right {
    justify-content: flex-end;
}

.flex-spaceBtw {
    justify-content: space-between;
}

.flex-spaceAr {
    justify-content: space-around;
}

.flex-top {
    align-items: flex-start;
}

.flex-middle {
    align-items: center;
}

.flex-bottom {
    align-items: flex-end;
}

.fg {
    flex-grow: 1;
}

.w-50 {
    width: 50%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.w-33 {
    width: 33.33%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-80 {
    width: 80%;
}

.h-50 {
    height: 50%;
}

.h-100 {
    height: 100%;
}

.vh-100 {
    height: 100vh;
}

.vh-80 {
    height: 80vh;
}

.vh-50 {
    height: 50vh;
}

.vh-150 {
    height: 150vh;
}

.d-ib {
    display: inline-block;
}

.d-b {
    display: block;
}

.d-i {
    display: inline;
}

.mtb-10 {
    margin: 10px 0px;
}

.ptb-10 {
    padding: 10px 0px;
}

.ptb-20 {
    padding: 20px 0px;
}

.ptb-30 {
    padding: 30px 0px;
}

.ptb-40 {
    padding: 40px 0px;
}

.ptb-50 {
    padding: 50px 0px;
}

.fw {
    font-weight: bolder;
}

.b-n {
    border: none;
}

.b-1sb {
    border: 1px solid black;
}

.b-1sw {
    border: 1px solid white;
}

.br-10 {
    border-radius: 10px;
}

.br-20 {
    border-radius: 20px;
}

.br-30 {
    border-radius: 30px;
}

.br-40 {
    border-radius: 40px;
}

.lh-25 {
    line-height: 25px;
}

.lh-30 {
    line-height: 30px;
}

.lh-35 {
    line-height: 35px;
}

.lh-n {
    line-height: normal;
}

.cl-w {
    color: white;
}

.cl-b {
    color: black;
}

.bg-b {
    background-color: rgb(94, 65, 65);
}

.bg-bl {
    background-color: black;
}

.bg-w {
    background-color: white;
}

.bg-s {
    background-color: salmon;
}

.bg-lg {
    background-color: rgb(247, 247, 247)
}

.bga-f {
    background-attachment: fixed;
}

.bgs-c {
    background-size: cover;
}

.p-f {
    position: fixed;
}

.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}

.t-50 {
    top: 50%;
}

.r-50 {
    right: 50%;
}

.l-50 {
    left: 50%;
}

.b-50 {
    bottom: 50%;
}

.bt2040 {
    padding: 20px 40px;
}

.bt3050 {
    padding: 30px 50px;
}

.td-n {
    text-decoration: none;
}

.o-a {
    overflow: auto;
}

.f-r {
    float: right;
}

.c-b {
    clear: both;
}